*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
}
.container{
    width:100%;
    height: 100%;
    background-color: antiquewhite;
    display:grid;
    padding: 4rem;
    row-gap:1rem;
    column-gap:1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
}
.item{
    background-color: rgb(44, 44, 145);
    border: solid 5px black;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: medium;
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
}
.content1{
    
  grid-column: 3 / 4;   /* stays in same column */
  grid-row: 1 / 3;     /* extends downward */


}